@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-image: linear-gradient(to bottom, #64f6ef, #64B5F6);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 400px;
  color: #333;
  background: #fff;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 2px 2px 8px 3px rgb(160, 160, 160);

}

h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 0.5rem 0;
  width: 100%;
  position: relative;
}

.form-control label {
  display: block;
  color: #333;
  font-size: 1.2rem;
  padding-bottom: 0.3rem;
}

.form-control input {
  display: block;
  border: 1px solid rgb(219, 219, 219);
  padding: 0.5rem;
  margin-bottom: 10px;
}

.submit-btn {
  width: 100%;
  background: #7941be;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
}

.submit-btn:hover {
  background: #a15df5;
}

/* ------------------------SUCCESS // ERROR MESSAGE CLASSES------------------------------- */

.form-control.success input {
  border-color: #01dd3c;
  border-width: 2px;
}

.form-control.error input{
  border-width: 2px;
  border-color: #F44336;
}

.form-control small {
  padding: 0;
  color: #F44336;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}